.Container__Navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(236, 236, 236);
    
    z-index: 999;
    position: fixed;
    height: 50px;
    padding: 0 2rem 0 3rem;
    align-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

    .Container__Navbar_container{
        width: 50%;
        display: flex;
        gap:10%;
        align-items: center;

        .Container__Navbar_logo{
            margin:2px;
            padding: 8px;
            border-radius: 4px;
            background-color:black;
            color: rgba(236, 236, 236);
            font-weight: bold;
            cursor: pointer;
        }

        .Container__Navbar_items{
            width: 100%;
            display: flex;
            gap:10%;
            align-items: center;
            padding: 8px;
            margin:2px;
        }
    }

    .Container__Navbar_logout{

    }
}


